# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Git
.git/
.gitignore

# Virtual environments
venv/
.env/

# Logs
*.log

# Docker & Jenkins
.dockerignore
Dockerfile
Jenkinsfile

# Misc
*.md
*.txt
tests/
